*{
    -webkit-transition: all .2s;
    transition: all .2s;
}
body{
    font-family: Geneva, Arial, Helvetica, sans-serif; 
    background: black;
    background: url("../img/b2.png") 0px 0px;
}
.wrapper{
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
}
p{
    color: black;
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header_left{
    padding: 20px;
    background: #2aa3ae;
    border-radius: 3px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
            flex: 1;
    text-align: center;
    border: none;
}
.header_right{
    padding: 1% 0 2% 4%;
    background: #ededed;
    -webkit-box-flex: 3;
    -ms-flex: 3;
            flex: 3;
    border-radius: 3px;
}
.Igor{
    padding-top: 2%;
    font-size: 2.5em;
}
.Zapl{
    padding-top: 2%;
    font-size: 3em;
    text-shadow: 2px 2px 5px;
    color: #2aa3ae; 
}
.dev{
    padding-top: 5%;
    font-size: 1.3em; 
}
.main_bl{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

aside{
    color: #2aa3ae;
    padding: 25px 20px;
    text-align: center;
    background: #ededed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.line {
    border: 1px dashed #2aa3ae;
    width: 77%;
    margin: 20px auto;
}
.personal_skills {
    font-size: 0.9em;
    font-style: italic;
}
.personal_skills div{
    padding: 3px 0;
    font-size: 1em;
    color: black;
}

.interests {
    margin: 0 auto;
    height: 215px;
    
}
.circle{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    font-size: 1em; 
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -254px;
    left: 6px;
    
}
.circle_1{
    width: 85px;
    height: 85px;
    display: block;
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    -khtml-border-radius: 45px;
    font-size: 0.8em; 
    color: #fff;
    line-height: 83px;
    text-align: center;
    background: #39b2bd;
    position: relative;
    top: 0px;
    left: -26px;
    opacity: 0.5;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
}
.circle_2{
   width: 85px;
    height: 85px;
    display: block;
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    -khtml-border-radius: 45px;
    font-size: 0.8em; 
    color: #fff;
    line-height: 85px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -85px;
    left: 63px;
    opacity: 0.5;
    -webkit-transform: rotate(31deg);
            transform: rotate(31deg);
}
.circle_3{
    width: 65px;
    height: 65px;
    display: block;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    -khtml-border-radius: 32px;
    font-size: 0.8em; 
    color: #fff;
    line-height: 76px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -85px;
    left: 83px;
    opacity: 0.5;
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
}
.circle_4 {
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    -khtml-border-radius: 27px;
    font-size: 0.7em; 
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -148px;
    left: -27px;
    opacity: 0.5;
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
}

.circle_5 {
     width: 85px;
     height: 85px;
     display: block;
     border-radius: 45px;
     -moz-border-radius: 45px;
     -webkit-border-radius: 45px;
     -khtml-border-radius: 45px;
     font-size: 0.6em; 
     color: #fff;
     line-height: 85px;
     text-align: center;
     background: #2aa3ae;
    position: relative;
    top: -269px;
    left: 14px;
    opacity: 0.5;
} 

main{
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    text-align: center;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.edu,.courses,.experience{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.edu_1,.edu_2,.edu_3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.title_bg{
    background: #2aa3ae;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0.1% 4%;
    color: white;
    border-radius: 3px;
    text-shadow: 3px 2px 5px;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    margin: 10px auto;
}
.title{
    color: #2aa3ae;
    text-shadow: 3px 2px 5px;
    font-size: 1.5em;
    font-style: italic;
    padding-bottom: 15px;
}
.job_1,.job_2,.job_3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.year{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    color: #2aa3ae;
    padding: 10px 0 0 30px;
}
.what{
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 10px 0 0 30px;
}
.course_1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.wrap_skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        padding-top: 20px;
}
.wrap_skills div{
    padding: 4px;
}
.left_skill,.right_skill{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
} 


.progressbar progress {

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border: none;
    width: 100%;
    background-size: auto;
    border-radius: 5px;
}
progress::-webkit-progress-bar {
    background: #bad7da;
    border-radius: 5px; 

}  
progress::-webkit-progress-value {
    background: #2aa3ae;
    border-radius: 5px;
}
progress::-moz-progress-bar {
    background: #2aa3ae;
    border-radius: 5px;
}


.admin_panel{
    position: fixed;
    width: 42px;
    height: 260px;
    background: #2aa3ae;
    top: 50%;
    left: 0;
    border-radius: 0 5px 5px 0;
    margin-top: -125px;
    border: solid white;
    border-width: 3px 3px 3px 1px;
    
}
.admin_panel:hover{
    left: 273px;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}
.admin_panel p{
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    top: 40%;
    right: -131px;
    width: 300px;
    font-style: italic;
    font-size: 1.3em;
    color: white;
    text-shadow: 1px -4px 7px;
    
}
.admin_content{
    width: 252px;
    height: 400px;
    position: absolute;
    margin-top: -85px;
    left: -273px;
    border-radius: 0 7px 7px 0;
    background: #2aa3ae;
    padding: 10px;
    
}
.ph_num{
    display: inline-block;
    padding: 3px 8px;
    background: white;
    color: #2aa3ae;
    border-radius: 2px;
    margin-top: 10px;
}
.admin_content img{
   padding-right: 10px; 
}
.admin_content span{
    color: white;
    font-style: italic;
    display: block; 
    padding-bottom: 5px;
    line-height: 24px;
    text-align: left;
}
.admin_content a{
    text-decoration: none;
    color: white;
}
.copy {
    background: #2aa3ae;
    color: white;
    text-align: center;
/*    padding: 20px;*/
    width: 78%;
    margin: 0 auto;
    border-radius: 5px;
}

@media only screen and (max-width: 990px){
   .circle{
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    font-size: 1em; 
    color: #fff;
    line-height: 120px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -254px;
    left: -1px;
    
}
.circle_1{
    width: 85px;
    height: 85px;
    display: block;
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    -khtml-border-radius: 45px;
    font-size: 0.8em; 
    color: #fff;
    line-height: 83px;
    text-align: center;
    background: #39b2bd;
    position: relative;
    top: 0px;
    left: -26px;
    opacity: 0.5;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
}
.circle_2{
   width: 85px;
    height: 85px;
    display: block;
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    -khtml-border-radius: 45px;
    font-size: 0.8em; 
    color: #fff;
    line-height: 85px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -85px;
    left: 63px;
    opacity: 0.5;
    -webkit-transform: rotate(31deg);
            transform: rotate(31deg);
}
.circle_3{
    width: 65px;
    height: 65px;
    display: block;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    -khtml-border-radius: 32px;
    font-size: 0.8em; 
    color: #fff;
    line-height: 76px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -73px;
    left: 83px;
    opacity: 0.5;
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
}
.circle_4 {
    width: 55px;
    height: 55px;
    display: block;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    -khtml-border-radius: 27px;
    font-size: 0.7em; 
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #2aa3ae;
    position: relative;
    top: -130px;
    left: -27px;
    opacity: 0.5;
    -webkit-transform: rotate(29deg);
            transform: rotate(29deg);
}

.circle_5 {
     width: 85px;
     height: 85px;
     display: block;
     border-radius: 45px;
     -moz-border-radius: 45px;
     -webkit-border-radius: 45px;
     -khtml-border-radius: 45px;
     font-size: 0.6em; 
     color: #fff;
     line-height: 85px;
     text-align: center;
     background: #2aa3ae;
    position: relative;
    top: -269px;
    left: 14px;
    opacity: 0.5;
} 
}